@use './vars';

.button {
    border: solid 2px vars.$color-accent1;
    color: vars.$color-accent1;
    border-radius: 3.5rem;
    transition: background-color 0.2s ease-in-out;
    cursor: pointer;
    display: inline-block;
    position: relative;
    text-align: center;
    text-decoration: none;
  }
  .button.down {
    background-image: url("./img/dark-arrow.svg");
    width: 4rem;
    height: 4rem;
    line-height: 4rem;
    padding: 0;
    background-position: center center;
    background-repeat: no-repeat;
    text-indent: -10em;
    overflow: hidden;
    }
  