@use './vars';

html {
  height:100%; // Allows child elements to expand height to entire page
  box-sizing: border-box; // Includes padding and borders in calculations for width/height
  body {
    height: inherit;
    min-width: 320px;
    line-height: 1.5;
    color: vars.$color-text1;
    font-family: vars.$font-main1;
    font-size: vars.$fontSize-main1;
    background-color: white;
  }
}

*, *:before, *:after {
  box-sizing: inherit;
}

html, body, div, span, applet, object,
iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

div, section, span, article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, img {
	display: block;
  margin: auto;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
  &::after, &::before {
    content: '';
		content: none;
  }
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

footer {
box-shadow: 0 50vh 0 50vh #000 // Footer hack to extend to bottom
}
/* Fonts*/

p,div,span { // Applies default font attributes
  font-family: inherit;
  }

@include vars.headings { // Applies to all headings
  font-family: vars.$font-headings1;
  font-weight: bold;
}

h1,.h1{
  font-size: vars.$fontSize-main1 * 12/(2 + 1);
}
h2,.h2{
  font-size: vars.$fontSize-main1 * 12/(2 + 2);
}
h3,.h3{
  font-size: vars.$fontSize-main1 * 12/(2 + 3);
}
h4,.h4{
  font-size: vars.$fontSize-main1 * 12/(2 + 4);
}
h5,.h5{
  font-size: vars.$fontSize-main1 * 12/(2 + 5);
}
h6,.h6{
  font-size: vars.$fontSize-main1 * 12/(2 + 6);
}

:root { // Assigns SASS color variables to CSS color variables
  --color-main1: #{vars.$color-main1};
  --color-main2: #{vars.$color-main2};
  --color-accent1: #{vars.$color-accent1};
  --color-accent2: #{vars.$color-accent2};
  }