$colorBackground
$fontTitle
$fontTitleBackup
$fontHeading
$fontHeadingBackup
$fontContent
$fontContentBackup;

body {
    background-color: $colorBackground;
    font-family: $fontContent, $fontContentBackup;
    h1,.h1{
        font-family: $fontTitle, $fontTitleBackup;
    }
    h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6 {
        font-family: $fontHeading, $fontHeadingBackup;
    }
}
#header {
    display: flex;
    flex-direction: row;
    #logo {

    }
    #navigation{

    }
    #social{

    }
}